@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap');

:root {
  --color-black: #232323;
  --color-light-black: #F2F2F2;
  --color-dark-blue: #0133FD;
  --color-light-blue: #0164FD;
  --color-lighter-blue: #D5E5FF;
}

body{
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}