@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap');

:root {
  --color-black: #232323;
  --color-light-black: #F2F2F2;
  --color-dark-blue: #0133FD;
  --color-light-blue: #0164FD;
  --color-lighter-blue: #D5E5FF;
}

@font-face {
  font-family: 'SF Pro Display';
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.woff') format('woff'),
      url('../assets/fonts/SFPRODISPLAYREGULAR.woff') format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url('../assets/fonts/SFPRODISPLAYBOLD.woff') format('woff'),
      url('../assets/fonts/SFPRODISPLAYBOLD.woff') format('woff2');
  font-weight: 700; /* bold */
  font-style: bold;
}

@font-face {
    font-family: 'SF Pro Display Italic';
    src: url('../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff'),
      url('../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff2');
  font-weight: 700; /* bold italic */
  font-style: italic;
}
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_18pt-Regular.woff') format('woff'),
      url('../assets/fonts/Inter_18pt-Regular.woff') format('woff2');
  font-weight: 400; /* bold italic */
  font-style: normal;
}

body{
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}